.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  display: none;

  @media screen and (min-width: $screen-md) {
    display: flex;
    width: 660px;
    height: 125px;

    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: $screen-lg) {
    width: $container-lg;
    height: 200px;
  }
}

.page-footer__logo {
  margin-left: 10px;

  & img {
    height: 40px;
  }

  & img:active {
    opacity: .3;
  }
}

.page-footer__socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  text-align: center;
}

.page-footer__socials-item {
  display: inline-block;
  width: 5rem;
  height: 5rem;

  &:not(:last-child) {
    margin-right: 1.2rem;
  }

  border: 0.3rem solid $blue--dark-transparent;
  border-radius: 50%;
  
  &:hover {
    border-color: $blue--dark;
  }

  &:active {
    opacity: .2;
  }

  & svg {
    fill: $text-pink;
  }
}

.socials-twitter {
  margin-top: 1.3rem;
  margin-left: .2rem;

  width: 1.75rem;
  height: 1.4663rem;
}

.socials-fb {
  margin-top: 1.1rem;

  width: .8673rem;
  height: 1.8944rem;
}

.socials-youtube {
  margin-top: 1.4rem;
  margin-left: .4rem;

  width: 1.464rem;
  height: 1.396rem;
}


.page-footer__powered {
  display: flex;
  align-items: center;

  margin-right: 10px;

  font-size: 1.8rem;
  line-height: 1.8rem;

  color: $blue--dark;

  & svg {
    fill: $text-pink;
    margin: 0 10px;
  }

  & svg:hover {
    fill: $blue--dark;
  }

  & svg:active {
    fill: $blue--dark-transparent;
  }

  svg.html-academy {
    width: 2.6096rem;
    height: 3.3803rem;
  }

  svg.for {
    width: 2.5988rem;
    height: 2.9922rem;
  }
}